/*Global Rules */
*{
    box-sizing: border-box !important;
}
.px-6 {
    padding-right: 5rem!important;
    padding-left: 5rem!important;
}
:root{
    --main-color:#009ad8;
}
body{
    color: #bfc1c8 !important;
    font-family: "Roboto", "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.5;
    background-color: #1e202b !important;
}
.mainColor{
    color:  var(--main-color) !important;
}
.fs-0{
    font-size: 90px;
}
.w-40{
    width: 40% !important;
}
.minusTop{
    margin-top: -20px !important;
}
.minusTopX{
    margin-top: -15% !important;
}
/*End Rules */

/*Start Nav */
.navbar .nav-item a{
    color: #fff;
}
.navbar .navbar-brand img{
    width: 60px;
    height: 40px;
    margin-right: 10px;
}
.navbar .brand-text h1{
    font-size: 18px !important;
}
.navbar .brand-text .desc{
    font-size: 10px !important;
}
.navbar .navbar-nav .nav-item {
    margin: 0 5px;
}
.navbar .navbar-nav .nav-item .nav-link {
    padding: 2px 25px;
    border: 2px solid transparent;
    border-radius: 30px;
    color: white;
    transition: 0.3s ease;
    font-weight: 400;
}
.navbar .navbar-nav .nav-item .nav-link:hover {
    color: var(--main-color);
    border-color: #009ad8;
}
.navbar .nav-item .active {
    color:  var(--main-color) !important;
    border-color:  var(--main-color) !important;
}

/*End Nav */
/*Start search bar*/
.search{
    min-height: 350px;
    background-size: cover;
    padding: 70px 0;
}
.search .find{
    position: relative;
    margin-bottom: 70px;
}
form input, form textarea, form select {
    outline: none;
    border: none;
    padding: 10px;
    border-radius: 30px;
}
.search .find input[type="text"] {
    width: 100%;
    padding: 20px 50px 20px 20px;
    background: #1e202b;
    color: white;
    outline: #009ad8 2px solid ;
}
input[type="submit"], .search .find input[type="button"] {
    position: absolute;
    top: 5px;
    right: 5px;
    bottom: 5px;
    padding: 0 40px;
}
.button, form input[type="submit"], form input[type="button"], form button, form input[type="reset"] {
    border: none;
    background: var(--main-color);
    padding: 10px 20px;
    border-radius: 30px;
    color: white;
}

form
/*End search bar*/

/* Start forecast */
.forecast{
    margin-top: -10%;
}
.forecast .row>*{
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.forecast .row {
    max-height: 300px;
    border-radius: 5px !important;
}
.forecast .current .forecast-header{
    background-color: #2D303D;
}
.forecast .current{
    background-color: rgba(50,53,68,1);
    border-bottom-left-radius: 10px !important;
}
.forecast .tomorrow .forecast-header{
    background-color: #222531;
}
.forecast .tomorrow{
    background-color: #262936;
}
.forecast .after-tomorrow .forecast-header{
    background-color: #2D303D;
}
.forecast .after-tomorrow{
    background-color: rgba(50,53,68,1);
    border-bottom-right-radius: 10px !important;
}
.forecast .forend div{
    padding: 10px;
}
/* End forecast */
/*Footer*/
footer{
    background: #262936;
    padding: 50px 0;
    margin-top: 150px;
}
footer .subs{
    position: relative;
    margin-bottom: 30px;
}
footer .subs input[type="text"] {
    padding: 20px 100px 20px 20px;
    background: #1e202b;
    width: 100%;
    color: white;
}
footer .subs input[type="submit"] {
    position: absolute;
    right: 5px;
    top: 5px;
    bottom: 5px;
}
footer .social-links a {
    width: 45px;
    height: 45px;
    display: inline-block;
    border-radius: 50%;
    background: #1e202b;
    color: #009ad8;
    text-align: center;
    line-height: 2;
    transition: 0.3s ease;
    font-size: 20px;
    font-size: 1.4285714286em;
}
/*End Footer*/

@media only screen and (max-width: 767px) {
    footer{
        margin-top: 800px;
    }
}